  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Desktops</h2>
        <ol>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->


 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio">
  <div class="container">

    <div class="row1">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Todos</li>
          <li data-filter=".filter-Dell">Dell</li>
          <li data-filter=".filter-Hp">HP</li>
          <li data-filter=".filter-Lenovo">Lenovo</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-Dell">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/dell-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>Dell XPS 8940</h3>
            <h4>R$ 15.129,00</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/dell-1.jpg" data-gall="portfolioGallery" class="venobox" title="Dell"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Lenovo">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/lenovo-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>Lenovo M80q</h3>
            <h4>R$ 8.137,00</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/lenovo-1.jpg" data-gall="portfolioGallery" class="venobox" title="Lenovo"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Dell">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/dell-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>Dell Ryzen 3 </h3>
            <h4>R$8.472,00</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/dell-2.jpg" data-gall="portfolioGallery" class="venobox" title="Dell"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Hp">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/hp-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>HP Z2 G5</h3>
            <h4>R$11.604,25</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/hp-1.jpg" data-gall="portfolioGallery" class="venobox" title="Hp"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Lenovo">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/lenovo-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>Lenovo M70q</h3>
            <h4>R$6.889,99</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/lenovo-2.jpg" data-gall="portfolioGallery" class="venobox" title="Lenovo"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Dell">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/dell-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>Dell Vostro 3681</h3>
            <h4>R$ 5.949,00</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/dell-3.jpg" data-gall="portfolioGallery" class="venobox" title="Dell"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Hp">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/hp-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>HP 805 G6 </h3>
            <h4>R$ 6.299,00</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/hp-2.jpg" data-gall="portfolioGallery" class="venobox" title="Hp"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Hp">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/hp-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>HP A G3</h3>
            <h4>R$ 3.899,00</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/hp-3.jpg" data-gall="portfolioGallery" class="venobox" title="Hp"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-Lenovo">
        <div class="portfolio-wrap">
          <img src="assets/img/Desktops/lenovo-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h3>Lenovo SFF V50s </h3>
            <h4>R$5.558,82</h4>
            <div class="portfolio-links">
              <a href="assets/img/Desktops/lenovo-3.jpg" data-gall="portfolioGallery" class="venobox" title="Lenovo"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
