<main id="main">

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Serviços</h2>
        <p>OS SERVIÇOS QUE OFERECEMOS</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="icofont-computer"></i>
            <h4><a href="#">Locação de Equipamentos</a></h4>
            <p>Temos soluções adequadas e personalizadas para seu negócio. Oferecemos locação de Servidores, Data Storage, Notebooks, Desktops, Projetores, Impressoras, Tablets e Telefones.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-chart-bar-graph"></i>
            <h4><a [routerLink]="['/notebooks']" >Venda de novos e semi-novos</a></h4>
            <p>Trabalhamos com as melhores marcas do mercado, além de sermos parceiros HP. Novos ou semi-novos, orientamos nossos clientes de forma a proporcionar um melhor custo x benefício em suas aquisições.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-image"></i>
            <h4><a href="#">Infraestrutura de TI / TELECOM</a></h4>
            <p>Com analises de profissionais especializados, dimensionamos a infra-estrutura ideal para sua empresa, otimizando seu investimento e planejando seu crescimento de forma organizada.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-settings"></i>
            <h4><a href="#">Centro de Manutenção</a></h4>
            <p>Contamos com um excelente centro de manutenção, especializado e com uma equipe altamente qualificada, treinada e em constante evolução. Nosso foco e atender com agilidade e competência.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-earth"></i>
            <h4><a href="#">Outsourcing de TI</a></h4>
            <p>Oferecemos soluções completas de outsourcing de TI, conforme sua necessidades. Possuímos metodologia própria baseada nas melhores práticas de mercado, com profissionais especializados nos mais diversos ambientes e sistemas.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-tasks-alt"></i>
            <h4><a href="#">Agendamento Inteligente</a></h4>
            <p>"Trabalhamos com agendamento inteligente para check-in e check-out dos equipamentos 100% online sem necessidade de contato por telefone."</p>
          </div>
        </div>
      </div>

    </div>
  </section>