<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Login</h2>
        <ol>
          <li></li>
        </ol>
      </div>

    </div>
</section>
<section id="login" class="container">
  <h3>{{agora|date :'dd/MM/yyyy' }}</h3>
  <br><h1 >faça seu login e tenha acesso a área do cliente!</h1><br><br>

  <div class="form-floating mb-3">
    <input type="Text" class="form-control" [(ngModel)]= "usuario.nome" id="floatingInput" placeholder="Usuário">
    <label for="floatingInput">Usuário</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" [(ngModel)] = "usuario.senha" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="d-grid gap-2">
    <button type = "submit" class= "btn btn-warning btn-lg" (click)="fazerLogin()" >LOGIN</button>
  </div>
</section>