<section id="produto-vendas" class="produto-vendas">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
          <h2>EMPRESA</h2>
          <h3>Tecno BCW é uma empresa especializada em soluções de Tecnologia da Informação para empresas do setor corporativo, onde buscamos constantemente evoluir a qualidade de nossos serviços e atendimentos, visando a excelência.
          </h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Com muito trabalho, empenho, equipe qualificada e parceiros com objetivos semelhantes aos nossos, temos obtido reconhecimento em nossos serviços, o que nós motiva a aprimorar cada vez mais.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Agendamento de visita técnica online</li>
            <li><i class="ri-check-double-line"></i>Solicitação de orçamento online</li>
            <li><i class="ri-check-double-line"></i>Chat Bot 24 horas</li>
            <li><i class="ri-check-double-line"></i>Trabalhamos com as melhores marcas do mercado</li>
          </ul>
          <p class="font-italic">
            
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
