
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Blog</h2>
      <ol>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container">

    <div class="row">

      <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <article class="entry">

          <div class="entry-img">
            <img src="assets/img/blog-1.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="blogsingle">RH e TI: como essa união ajuda na gestão dos funcionários?</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a routerLink="blogsingle">Por Dorian
                  Cosentino</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                  routerLink="blogsingle"><time datetime="2020-01-01">29/07/2020</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              As áreas de RH e TI costumam ser bem distantes e se integram pouco dentro das empresas. Geralmente, a
              comunicação entre esses setores se dá quando há a necessidade da
              adoção de um novo sistema para o processo de abertura de novas contratações ou para chamados de suporte.
              Com o mundo vivendo uma nova realidade,…


            </p>
            <div class="read-more">

              <a routerLink="blogsingle">Ler mais</a>
            </div>
          </div>

        </article><!-- End blog entry -->
      </div>

      <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <article class="entry">

          <div class="entry-img">
            <img src="assets/img/blog-2.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="blogsingle2">
              7 livros de TI que todo profissional da área deveria ler</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a routerLink="blogsingle2">Por
                  Equipe GD</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                  routerLink="blogsingle2"><time datetime="2020-01-01">16/03/2020</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              Estar bem informado sobre o que pensam as cabeças mais influentes do ramo de TI
              é uma excelente maneira de se manter atualizado e levantar assuntos interessantes para serem discutidos
              com parceiros e colegas do setor. Procurar os livros mais bem escritos sobre os assuntos da área…
            </p>
            <div class="read-more">
              <a routerLink="blogsingle2">Ler mais</a>
            </div>
          </div>

        </article><!-- End blog entry -->
      </div>

      <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <article class="entry">

          <div class="entry-img">
            <img src="assets/img/blog-3.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="blogsingle3">
              O que é a internet dedicada, como ela funciona e quais as vantagens?</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a routerLink="blogsingle3">Por
                  Equipe GD</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                  routerLink="blogsingle3"><time datetime="2020-01-01">21/04/2021</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              As organizações devem aprimorar constantemente as suas conexões de rede. Afinal, a transformação digital
              já faz parte da realidade, tornando fundamental ter uma internet de qualidade para realizar as atividades
              internas e garantir maior tranquilidade e autonomia para os gestores.
              Uma das formas de alcançar esses benefícios é adotar uma internet dedicada no ambiente corporativo,…
            </p>
            <div class="read-more">
              <a routerLink="blogsingle3">Ler mais</a>
            </div>
          </div>

        </article><!-- End blog entry -->
      </div>

      <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <article class="entry">

          <div class="entry-img">
            <img src="assets/img/blog-4.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="blogsingle4">Saiba como o TI pode ajudar na logística da empresa</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a routerLink="blogsingle4">Por
                  Dorian Cosentino</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                  routerLink="blogsingle4"><time datetime="2020-01-01">12/08/2021</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              Uma das aplicações mais bem-sucedidas das ferramentas tecnológicas é no campo da logística. A TI na
              logística ajuda a enfrentar os principais desafios do setor, de modo a gerar maior visibilidade e permitir
              um controle estrito das operações.
              A partir de uma série de aplicações, é possível desenvolver uma infraestrutura e um ecossistema
              tecnológico que…

            </p>
            <div class="read-more">
              <a routerLink="blogsingle4">Ler mais</a>
            </div>
          </div>

        </article><!-- End blog entry -->
      </div>

      <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <article class="entry">

          <div class="entry-img">
            <img src="assets/img/blog-5.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="blogsingle5">
              Entenda sobre a importância do TI no varejo</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a routerLink="blogsingle5">Por
                  Dorian Cosentino</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                  routerLink="blogsingle5"><time datetime="2020-01-01">04/08/2021</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              As empresas do varejo que estão em busca de um diferencial competitivo tem enxergado na transformação
              digital uma alavanca para otimizar os seus processos.
              O resultado tem sido uma maior proximidade com o consumidor, entrega de uma experiência de compra muito
              mais personalizada, e processos automatizados, que contribuem para o aumento de produtividade, acelerando
              as…
            </p>
            <div class="read-more">
              <a routerLink="blogsingle5">Ler mais</a>
            </div>
          </div>

        </article><!-- End blog entry -->
      </div>

      <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <article class="entry">

          <div class="entry-img">
            <img src="assets/img/blog-6.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a routerLink="blogsingle6">
              Conheça os 5 desafios para a prestação do suporte de TI</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="icofont-user"></i> <a routerLink="blogsingle6">Por
                  Dorian Cosentino</a></li>
              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                  routerLink="blogsingle6"><time datetime="2020-01-01">12/07/2021</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <p>
              A transformação digital mudou o patamar tecnológico das empresas. Se antes o setor de Tecnologia da
              Informação era uma atividade meio, que colaborava para a manutenção de uma pequena infraestrutura,
              atualmente,
              com as empresas estruturando os seus negócios com base em tecnologia, a demanda por suporte de TI cresceu
              exponencialmente. Assim, ser gestor de TI…
            </p>
            <div class="read-more">
              <a routerLink="blogsingle6">Ler mais</a>
            </div>
          </div>

        </article><!-- End blog entry -->
      </div>

    </div>


  </div>
</section><!-- End Blog Section -->
