  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Depoimentos</h2>
          <ol>
            <li></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Tony Eduardo </h3>
              <h4>Diretor</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Gostaríamos de registrar a nossa satisfação com o trabalho da TencoBCW. Empresa dirigida por jovens responsáveis, que desempenham seu trabalho com competência e agilidade.
Ficamos muito honrados com a presteza e dedicação dos profissionais em nossos projetos. A equipe é flexível e faz todos os processos de maneira a atender nossas necessidades.
Por esta razão, temos dado continuidade a esta parceria, confiando nas orientações, soluções e produtos oferecidos pela mesma
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4 mt-lg-0">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Marketing</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                A Asamed está muito satisfeita com os serviços da TencoBCW, desde o atendimento à conclusão do web site. O departamento de Marketing da Asamed teve suas solicitações atendidas de forma precisa, esclarecedora e satisfatória, principalmente, em relação ao prazo de entrega. Por isso, a gente agradece e indica a TencoBCW com segurança.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Diretora</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Os sistemas desenvolvidos pela TencoBCW alavancaram meu negócio. Minha empresa encontra-se muito mais organizada e eficiente na prestação de seus serviços graças as ferramentas desenvolvidas pela equipe TencoBCW. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Sócio proprietário</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                A TencoBCW é uma empresa parceira da Atrativa e dos demais negócios de consultoria que realizo. Possui profissionais competentes, criativos e experientes. Atendimento Top. Sempre me senti muito seguro em colocar na mão deles a maior parte das minhas necessidades Web.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>João Duarte Pessoa</h3>
              <h4>Gerente Marketing Digital</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Como gerente de marketing digital das Concessionárias Fiat Prima e Phipasa, tenho a dizer que a parceria tecnológica com a TencoBCW, que já dura alguns anos, é fundamental para atingirmos nossas metas.
                Pela Prima , fomos agraciados com o Prêmio de Concessionária mais inovadora do Brasil, e com a Phipasa recebemos diversas menções da Fiat como Concessionária com mais presença na Web. A TencoBCW sempre nos atendeu prontamente e nunca recusou nenhum desafio colocado pela nossa equipe de programadores.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img src="assets/img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="">
              <h3>Claudia de Siervi</h3>
              <h4>Coordenação Geral</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                A equipe da ZAPTA ? Cidades em Movimento conta com os serviços da TencoBCW desde 2011. Ao longo destes cinco anos nos beneficiamos do apoio competente da equipe da TencoBCW, para criação, manutenção e aperfeiçoamento de nossos sites, ferramentas e produtos. A interação com a equipe da TencoBCW foi sempre marcada pela gentileza, escuta atenta, resposta rápida e preços sempre justos e acessíveis. São craques, são boas pessoas e são confiáveis.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
