<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog Tecno BCW</h2>
          <ol>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
<div class="container">

  <div class="row">

    <div class="col-lg-8 entries">

      <article class="entry entry-single">

        <div class="entry-img">
          <img src="assets/img/blog-1.jpg" alt="" class="img-fluid">
        </div>

        <h2 class="entry-title">
          <a href="blog-single.html">7 livros de TI que todo profissional da área deveria ler</a>
        </h2>

        <div class="entry-meta">
          <ul>
            <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">Por Equipe GD</a></li>
            <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">16/03/2020</time></a></li>
            <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comentarios

            </a></li>
          </ul>
        </div>

        <div class="entry-content">
          <p>
            Saber como pensam as cabeças mais influentes do ramo de TI é uma excelente maneira de se manter atualizado e levantar assuntos interessantes para serem discutidos com parceiros e colegas do setor. 
            Procurar livros bem escritos sobre os assuntos da área e as maiores tendências de momento é o caminho para isso.
            Ficou interessado? Então continue a leitura e conheça 3 livros de TI que todo profissional da área deveria ler!
          </p>
         <h3>1. Sem Lugar Para Se Esconder — Edward Snowden, A NSA e A Espionagem do Governo Americano</h3>

         <h5> Autor: Glenn Greenwald. Ano: 2014.</h5>
          <p>
           Greenwald conta sobre seus encontros com Edward Snowden em meados de 2013, durante a produção de uma série de matérias pelo periódico britânico The Guardian.
            O jornalista detalha como foi escolhido pelo ex-prestador de serviços da NSA para a missão de receber e publicar os dados confidenciais da agência, 
            faz reflexões sobre o papel da mídia no jornalismo do século XXI e ainda aborda as questões diretamente ligadas ao assunto das práticas de vigilância ilimitada pelos governos, em especial o americano.
            Você não precisa seguir o exemplo de Snowden, mas saiba que suas iniciativas transformaram todo o tipo de políticas e relações em geral dentro do universo da Tecnologia da Informação. O papel de Snowden 
            faz com que sua história apresente várias lições sobre ética no negócio de TI. Esse assunto tem estado em alta desde então e assim deverá permanecer ainda por um bom tempo.
          </p>
          

          <blockquote>
            <i class="icofont-quote-left quote-left"></i>
            <p>
              O livro é um mudo que fala, um surdo que responde, um cego que guia, um morto que vive.
           
            </p>   
            <h6>PADRE ANTÓNIO VIEIRA</h6>
            <i class="las la-quote-right quote-right"></i>
            <i class="icofont-quote-right quote-right"></i>
          </blockquote>

      <h3>2. Big Data — Como Extrair Volume, Variedade, Velocidade e Valor da Avalanche de Informação Cotidiana</h3>
      <h5> Autores: Viktor Mayer-Schönberger e Kenneth Cukier. Ano: 2013.</h5>
      <p>
           

            Escrito por dois autores especialistas em Big Data, o livro aborda os prós e os contras dessa revolução tecnológica, descrevendo o que já aconteceu e apontando para onde ela está se encaminhando.
            Sendo o Big Data a grande tendência e o grande desafio do momento, esse é um assunto para o qual todos se voltam e de onde muitos riscos podem surgir, o que cria a necessidade de se se manter informado.
            Essa obra mantém o foco com clareza e surpreende ao detalhar as questões práticas e cotidianas, de segurança e de potencial global apresentadas pelo Big Data. 
            Como qualquer profissional de TI deve se interessar pelo assunto, os exemplos e debates encontrados no livro serão de grande valia e servirão de inspiração para você ir mais a fundo nessa recente e enorme revolução dos dados.
          </p>

          <h3>3. Engenharia de Software – Uma Abordagem Profissional</h3>
          <h5>Autor: Roger S. Pressman. Ano: 2016 (8ª edição).</h5>
          <p>
            

             Líder de vendas há mais de trinta anos, esse é um livro obrigatório para profissionais da área de TI acompanharem o desenvolvimento de sua carreira desde os tempos de estudante.
            Trata-se de uma obra em constante atualização, jamais parada no tempo — a 8ª edição se apresenta ainda mais sólida, com novidades como as abordagens sobre a segurança de software e questões específicas sobre o desenvolvimento mobile.
            Reformulado com conteúdos auxiliares, esse é um guia extremamente prático, com estilo simples e conceitos muito bem explorados, o qual lança mão de técnicas tradicionais e certeiras combinadas a outras modernas e bastante atrativas.
            Da busca por fundamentos teóricos até a observação de aspectos práticos, como processos ágeis em código aberto, o livro é de grande utilidade — típica obra recomendada para se ter na cabeceira.
             
          </p>
          <img src="assets/img/blog-inside-post.jpg" class="img-fluid" alt="">

          <h3>4. Algoritmos de destruição em massa: como o Big Data alimenta a desigualdade e ameaça a democracia</h3>
          <h5>  Autor: Cathy O’Neil. Ano: 2021</h5>
          <p>
          

           Provavelmente você assistiu a dois documentários recentes que ficaram muito conhecidos pelo público geral: Coded Bias e Dilema das Redes (ambos disponíveis na Netflix). 
           Neles, muito foi discutido sobre as implicações sociais e políticas dos sistemas algorítmicos utilizados atualmente. 
           E você, profissional de TI, que está diretamente ligado com isso, deve estar atento à discussão.
           Em ambos os documentários há a presença de Cathy O’Neil, autora deste livro. Isso porque ela é uma especialista em programação que pesquisa como a falta de transparência nos modelos utilizados atualmente 
           podem ser danosos para a sociedade de modo geral e, portanto, defende que os profissionais devem ser críticos em relação ao seu trabalho.
          Nesse livro, a autora traz uma série de reflexões importantes tanto para o público geral quanto para os especialistas. Por isso, se deseja pensar sobre o seu papel nesse contexto, essa é uma boa obra para você.
          </p>
          <h3> 5. A segunda era das máquinas </h3>
          <h5> Autores: Erik Brynjolfsson e Andrew Mcafee. Ano: 2015.</h5>
          <p>
           

            Escrito por dois pesquisadores do MIT, o livro começa as discussões a partir da Lei de Moore (inspirada por uma sugestão de um dos fundadores da Intel, Gordon Moore, em 1965). Segundo a lei, 
            a capacidade de processamento dos processadores deveria dobrar a cada dois anos.
            
            A partir disso, os autores do livro discutem as grandes viradas tecnológicas que aconteceram nos últimos anos, principalmente a partir da transformação digital.
             Assim, eles defendem que o progresso tecnológico seria uma revolução, tal como a Revolução Industrial foi em sua época.
            
            Vale a pena a leitura para reflexão sobre o papel das tecnologias no contexto atual.
          </p>
          <h3> 6. Big Tech: a ascensão os dados e a morte da política</h3>
          <h5>Autor: Egveny Morozov. Ano: 2018.</h5>
          <p>
            

            Escrito por um dos maiores especialistas em tecnologia da atualidade, Big Tech faz uma crítica contundente sobre a ideia do “solucionismo” tecnológico, ou seja,
             a visão de que a tecnologia tem a função de solucionar questões que as instituições não conseguem resolver. Assim, traz uma série de pontos positivos e negativos que o universo automatizado tem oferecido para nós.
            Esse é um importante livro para que os profissionais possam refletir sobre suas posturas e, assim, entendam que suas atividades não devem ser 
            voltadas a serem panaceias de problemas existentes. Isso pode abrir a sua mente para o seu papel profissional.
          </p>
          <h3> 7. Código limpo: habilidades práticas do Agile Software</h3>
          <h5>Autor: Robert C. Martin. Ano: 2009.</h5>
          <p>
            

             Apesar de ser um livro relativamente antigo, ele é ainda bem atual. Isso porque ele auxilia nas reflexões sobre como garantir um código limpo, mesmo que ele seja ruim, para o desenvolvimento.
             Assim, o autor, renomado especialista em software, reuniu nesse livro uma série de dicas sobre como criar práticas para limpar códigos dinamicamente, trazendo melhores resultados para as suas técnicas de desenvolvimento.
             Assim, ao longo da leitura, você será introduzido ao modo de pensamento agile, que cada vez mais é exigido no ambiente de TI. Ao final, você estará imerso em um conhecimento base que permite
              identificar como pensamos quando criamos e tornar esse processo mais eficiente.
             É importantíssimo que todo profissional de TI se mantenha por dentro de novas tecnologias e aprenda lições de liderança e ética aplicadas à área. Se você ainda não criou o hábito da leitura, 
             abra espaços na sua rotina, comece a aproveitar melhor seu tempo livre e relaxe aprendendo com essas obras. Você certamente não vai se arrepender. 
          </p>

              </div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <i class="icofont-folder"></i>
                  <ul class="cats">
                    <li><a href="#">Business</a></li>
                  </ul>

                  <i class="icofont-tags"></i>
                  <ul class="tags">
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Marketing</a></li>
                  </ul>
                </div>

                <div class="float-right share">
                  <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                  <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                  <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                </div>

              </div>

            </article><!-- End blog entry -->

            <div class="blog-author clearfix">
              <img src="assets/img/blog-author.jpg" class="rounded-circle float-left" alt="">
              <h4>Jane Smith</h4>
              <div class="social-links">
                <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
              </div>
              <p>
                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
              </p>
            </div><!-- End blog author bio -->

            <div class="blog-comments">

              <h4 class="comments-count">8 Comments</h4>

              <div id="comment-1" class="comment clearfix">
                <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
                <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                  Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                </p>

              </div><!-- End comment #1 -->

              <div id="comment-2" class="comment clearfix">
                <img src="assets/img/comments-2.jpg" class="comment-img  float-left" alt="">
                <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                </p>

                <div id="comment-reply-1" class="comment comment-reply clearfix">
                  <img src="assets/img/comments-3.jpg" class="comment-img  float-left" alt="">
                  <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                    Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                    Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                  </p>

                  <div id="comment-reply-2" class="comment comment-reply clearfix">
                    <img src="assets/img/comments-4.jpg" class="comment-img  float-left" alt="">
                    <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                    </p>

                  </div><!-- End comment reply #2-->

                </div><!-- End comment reply #1-->

              </div><!-- End comment #2-->

              <div id="comment-3" class="comment clearfix">
                <img src="assets/img/comments-5.jpg" class="comment-img  float-left" alt="">
                <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                  Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                </p>

              </div><!-- End comment #3 -->

              <div id="comment-4" class="comment clearfix">
                <img src="assets/img/comments-6.jpg" class="comment-img  float-left" alt="">
                <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                </p>

              </div><!-- End comment #4 -->

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form action="">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="website" type="text" class="form-control" placeholder="Your Website">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Procurar</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>

              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categorias</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Geral <span>(25)</span></a></li>
                  <li><a href="#">Estilo de vida <span>(12)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Criativo <span>(8)</span></a></li>
                  <li><a href="#">Educação <span>(14)</span></a></li>
                </ul>

              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Posts Recentes</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/blog-recent-1.jpg" alt="">
                  <h4><a href="blog-single.html">Conheça os 5 desafios para a prestação do suporte de TI</a></h4>
                  <time datetime="2020-01-01">12/07/2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Saiba como o TI pode ajudar na logística da empresa</a></h4>
                  <time datetime="2020-01-01">12/08/2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html"> 7 livros de TI que todo profissional da área deveria ler</a></h4>
                  <time datetime="2020-01-01">16/03/2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Entenda sobre a importância do TI no varejo</a></h4>
                  <time datetime="2020-01-01">04/08/2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html"> O que é a internet dedicada, como ela funciona e quais as vantagens?</a></h4>
                  <time datetime="2020-01-01">21/04/2021</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>

              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
